* {
  margin: 0;
  /*清除所有对象的外边距, 以避免不必要的空白*/
}

body {
  background: url(/images/bg1.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

h1 + ul, h1 + ol,
h2 + ul, h2 + ol,
h3 + ul, h3 + ol,
h4 + ul, h4 + ol,
h5 + ul, h5 + ol,
h6 + ul, h6 + ol {
  margin-top: 1em;
  /*解决列表跟在标题之后的问题*/
  /*顺便吐槽一下这个鬼畜的选择器*/
}

p, li {
  margin: 1em 0;
}

hr {
  margin: 1em 0;
}

div.footer {
  height: 25px;
  width: 25px;
  position: fixed;
  right: 10px;
  padding: 10px 10px 10px 9px;
  border: 2px solid white;
  border-radius: 16px;
  bottom: 10px;
  /*手动页脚*/
}

/*navigate-begin*/
#nav {
  width: 100%;
  height: 50px;
  /*导航栏宽度全屏，高度50px*/
  position: fixed;
  top: 0;
  left: 0;
  /*位于页面最上部*/
  z-index:99;
  /*防止被遮挡*/
  color: #FFFFFF;
}

#nav > div {
  float: left;
  /*导航栏中元素左浮动*/
}

#menu {
  float: left;
  margin-right: 30px;
}

#menu svg {
  width: 50px;
  height: 50px;
}
/*navigate-end*/

/*slidebar-begin*/
#slidebar > ul, #slidebar > ol {
  margin-left: -10%;
  /*侧栏中的列表总是有神奇的缩进*/
}

#slidebar {
  float: left;
  position: fixed;
  /*设置为左边固定*/
  background: rgba(255,255,255,0.94);
  /*背景*/
  width: 10%;
  padding: 10px 3% 100% 2%;
  /*限制宽度*/
  top: 41px;
  height: 100%;
  overflow: auto;
  /*滚动条(仅当高度不足时)*/
  border-radius: 10px;
  border-width: 4px;
  border-style: solid;
  /*边框*/
  opacity: 0;
  display: none;
  z-index: 97;
}
/*slidebar-end*/

/*taglist*/
#tagform {
  float: left;
  position: fixed;
  width: 15%;
  padding: 10px 3% 100% 2%;
  top: 50px;
  left: 15%;
  height: 100%;
  overflow: auto;
  z-index: 96;
  display: none;
}

ul.taglist {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
  top: 65px;
}

ul.taglist li {
  display: block;
  width: 100%;
  height: 20px;
  float: left;
  padding: 16px 2em;
  margin: 0;
}

ul.taglist li:hover::after {
  content: '>';
  color: white;
  font-family: monospace;
  font-size: 20px;
  position: absolute;
  right: 1em;
}

#tagform div {
  display: none;
  position: absolute;
  left: 8px;
  top: 65px;
  width: 100%;
  z-index: 98;
  padding-left: 10px;
}

#tagform div ul {
  list-style-type: none;
  margin-left: -40px;
  width: 90%;
}
/*taglist*/

#main {
  margin: 65px 10% 5px;
  /*为边栏留出空间*/
  padding: 10px 20px 0px 20px;
  /*补充消失的空白*/
  font-family: "Times New Roman", "Microsoft YaHei", serif;
  background-color: rgba(255,255,255,0.9);
  border: 1px solid #808080;
  border-radius: 15px;
  min-height: 80%;
}

/*子搜索窗口*/
#subform {
  float: right;
  position: fixed;
  top: 50px;
  right: 0;
  width: 30%;
  height: 70%;
  /*确定位置与大小*/
  overflow: auto;
  /*自动滚动条*/
  border-style: none ridge ridge ridge;
  border-width: 5px;
  background-color: #D0D0D0;
  /*边框与背景*/
  display: none;
  z-index: 98;
}

.sch {
  height: 2em;
  width: 15em;
  position: relative;
  top: 8px;
  padding-left: 5px;
  margin-right: 5px;
  border-radius: 25px;
}

p.small {
  font-size: 0.5em;
}

p.small-gray {
  font-size: 0.5em;
  color: gray;
}

p.left {
  float: left;
}

p.right {
  float: right;
}