* {
  margin: 0;
  /*清除所有对象的外边距, 以避免不必要的空白*/
}

body {
  overflow-x: hidden;
}

img#background {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -1;
}

h1+ul, h1+ol, h2+ul, h2+ol, h3+ul, h3+ol, h4+ul, h4+ol, h5+ul, h5+ol, h6+ul, h6+ol {
  margin-top: 1em;
  /*解决列表跟在标题之后的问题*/
  /*顺便吐槽一下这个鬼畜的选择器*/
}

p, li {
  margin: 1em 0;
}

hr {
  margin: 1em 0;
}

a {
  color: inherit;
  text-decoration: none;
  background-image: linear-gradient(black, black);
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 0 1px;
  transition: background-size 300ms ease-in-out;
}

a:hover {
  color: inherit;
  background-size: 100% 1px;
}

div.footer {
  height: 25px;
  width: 25px;
  position: fixed;
  right: 10px;
  padding: 10px 10px 10px 9px;
  border: 2px solid white;
  border-radius: 16px;
  bottom: 10px;
  /*手动页脚*/
}

/*navigate-begin*/

#nav {
  width: 100%;
  height: 50px;
  /*导航栏宽度全屏，高度50px*/
  position: fixed;
  top: 0;
  left: 0;
  /*位于页面最上部*/
  z-index: 50;
  /*防止被遮挡*/
  color: #FFFFFF;
}

#nav>div {
  float: left;
  /*导航栏中元素左浮动*/
}

i#schbtn {
  position: absolute;
  top: 10px;
  right: 12px;
  color: black;
  font-size: 25px;
}

#menu {
  float: left;
  margin-right: 30px;
}

#menu svg {
  width: 50px;
  height: 50px;
}

/*navigate-end*/

/*slidebar-begin*/

#slidebar>ul, #slidebar>ol {
  margin-left: -10%;
  /*侧栏中的列表总是有神奇的缩进*/
}

#slidebar {
  float: left;
  position: fixed;
  /*设置为左边固定*/
  background: rgba(255, 255, 255, 0.94);
  /*背景*/
  width: 10%;
  padding: 10px 3% 100% 2%;
  /*限制宽度*/
  top: 41px;
  height: 100%;
  overflow: auto;
  /*滚动条(仅当高度不足时)*/
  opacity: 0;
  display: none;
  z-index: 47;
}

/*slidebar-end*/

/*taglist*/

#tagform {
  float: left;
  position: fixed;
  width: 15%;
  padding: 10px 3% 100% 2%;
  top: 46px;
  left: 14%;
  height: 100%;
  overflow: auto;
  z-index: 46;
  display: none;
  color: white;
}

ul.taglist {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
  top: 65px;
}

ul.taglist li {
  display: block;
  width: 100%;
  height: 20px;
  float: left;
  padding: 16px 2em;
  margin: 0;
}

ul.taglist li:hover::after {
  content: '>';
  color: white;
  font-family: monospace;
  font-size: 20px;
  position: absolute;
  right: 1em;
}

#tagform div {
  display: none;
  position: absolute;
  left: 8px;
  top: 65px;
  width: 100%;
  z-index: 48;
  padding-left: 14px;
}

#tagform div ul {
  list-style-type: none;
  margin-left: -40px;
  width: 90%;
}

#tagform a {
  background-image: linear-gradient(white, white);
}

/*taglist*/

#mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: -2;
  text-align: center;
}

#main {
  margin: 65px 20% 5px;
  /*为边栏留出空间*/
  padding: 10px 20px 0px 20px;
  /*补充消失的空白*/
  font-family: sans-serif;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 15px;
  min-height: 500px;
  width: 60%;
}

/*子搜索窗口*/

ul#subform {
  float: right;
  position: fixed;
  top: 50px;
  right: 0;
  width: 30%;
  height: 70%;
  /*确定位置与大小*/
  overflow: auto;
  /*自动滚动条*/
  border-style: none ridge ridge ridge;
  border-width: 5px;
  background-color: white;
  /*边框与背景*/
  list-style-type: none;
  margin: 0;
  padding: 0.5em;
  color: initial;
  display: none;
  z-index: 48;
}

.sch {
  height: 2em;
  width: 15em;
  position: relative;
  top: 8px;
  padding-left: 5px;
  margin-right: 5px;
  border-radius: 25px;
}

p.small {
  font-size: 0.5em;
}

p.small-gray {
  font-size: 0.5em;
  color: gray;
}

p.left {
  float: left;
}

p.right {
  float: right;
}