<div id="nav">
  <div id="menu">
    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 50 50" height="100%" width="100%">
      <line x1="10" y1="15" x2="40" y2="15" style="stroke:white;stroke-width:4;stroke-linecap:round"></line>
      <line x1="10" y1="25" x2="40" y2="25" style="stroke:white;stroke-width:4;stroke-linecap:round"></line>
      <line x1="10" y1="35" x2="40" y2="35" style="stroke:white;stroke-width:4;stroke-linecap:round"></line>
    </svg>
  </div>
  <div id="sign">
    <p style="width: fit-content;position:absolute;overflow-x: hidden;">美人愁思兮，采芙蓉于南浦。 公子忘忧兮，树萱草于北堂。</p>
  </div>
  <p id="logo"><a href="/" style="text-decoration: none; color: white; font-size: inherit;">忘忧。</a></p>
  <div id="searchform" style="float: right">
    <input class="sch" type="text" placeholder="搜索内容" onkeydown="if((event.which==13)||(event.keycode==13))onSchSubmit();"/>
    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="schbtn" style="width:30px; height:37px; position:absolute; top:5px; right:6px">
      <circle cx="11.5" cy="18" r="8.5" stroke="black" stroke-width="2" fill="white"></circle>
      <line x1="18" y1="23" x2="26" y2="30" style="stroke:black;stroke-width:2;stroke-linecap:round"></line>
    </svg>
  </div>
</div>