{%- capture tagstr %}
  {%- for post in site.posts %}
    {%- unless post.tags contains '测试' %}
      {%- for tag in post.tags %}
        {{ tag }}
      {%- endfor %}
    {%- endunless %}
  {%- endfor %}
{%- endcapture %}
{%- assign tags = tagstr | split: ' ' | uniq | sort_nature %}
<!--左边栏-->
<div id="slidebar">
  <h1><a style="text-decoration: none; color: white;" href="{{ site.url }}">忘忧北萱草的博客</a></h1>
  <p>最新文章:</p>
  <ul>
    {%- for tag in tags %}
    <li>{{- tag -}}:<br/><ul>
      {%- for post in site.posts %}
        {%- if post.tags contains tag %}
        <li>{%- include date2str.html date = post.date -%}&nbsp; 
          <a href="{{ site.baseurl }}{{ post.url }}">{{- post.title -}}</a>
        </li>
        {%- endif %}
      {%- endfor %}
    </ul></li>  
    {%- endfor %}
  </ul>
</div>