---
import { getCollection } from "astro:content";
import { format, compareDesc } from "date-fns";

const posts = (await getCollection("blog", (post) => !post.data.hidden && !post.data.draft)).sort(
    (a, b) =>
        compareDesc(a.data.pubDate ?? new Date(), b.data.pubDate ?? new Date()),
);
---

<ul>
    {
        posts.map((post) => (
            <li>
                <a href={"/" + post.id}>{post.data.title}</a>
                {post.data.pubDate && format(post.data.pubDate, "MMM dd, yyyy")}
            </li>
        ))
    }
</ul>
