<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />

  <title>{{ page.title }}</title>

  {% include links.html %}

  {% include scripts.html %}
  <script src="/script/gitment.min.js" defer></script>
  <script src="/script/render-gitment.js" defer></script>
  
  {% include metadata.html %}
  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}
    });
  </script>
  <script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
  
  <style>
  div.gitment-comment-main, div.gitment-editor-header {
    background-color: white;
  }
  </style>
</head>
<body>
  {% include nav.html %}

  {% include slidebar.html %}

  <div id="main">
    <h1>{{ page.title }}</h1>

{{ content }}

    <hr/>
    
    <div>
      {% if page.previous.url %}
      <div style="float: left">
        <p>上一篇：<a href="{{ site.baseurl }}{{ page.previous.url }}">{{ page.previous.title }}</a></p>
      </div>
      {% endif %}
      {% if page.next.url %}
      <div style="float: right">
        <p>下一篇：<a href="{{ site.baseurl }}{{ page.next.url }}">{{ page.next.title }}</a></p>
      </div>
      {% endif %}
      <div style="clear: both"/>
    </div>
    
    <div id="comments">
    <!-- Thanks for Gitment! -->
    </div>
    
    <p class="small left">
      tags: {% for tag in page.tags %}
        {{ tag }}
      {% endfor %}
    </p>
    <p class="small right">
      date: {{ page.date | date_to_string }}
    </p>
    <div style="clear: both"/>
  </div>

  <iframe id="subform" sandbox="allow-forms allow-scripts allow-same-origin">
    <p>您的浏览器不支持&lt;iframe&gt;,请点击<a href="" target="_blank">这个链接</a>访问。</p>
  </iframe>

  {% include returnTop.html %}
  <img id="background" src="/images/bg1.jpg"/>
</body>
</html>