<!DOCTYPE html>
<html>
  <head>    
    <meta name="google-site-verification" content="3U5Oryrc0RsqkIcRJuTd-Qofypzw0KrD00-FKwdWhqY" />
    <meta name="msvalidate.01" content="747838171A996F1B7E7A7037CFD87180" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />

    <title>{{ page.title }}</title>

    {% include links.html %}
    <link rel="stylesheet" type="text/css" href="/style/excerpt.css" />

    {% include scripts.html %}
    
    {% seo %}

  </head>
  <body>
    {% include nav.html %}

    {% include slidebar.html %}

    <div id="mask"></div>
    <div id="main">
      <h1>{{ page.title }}</h1>

{{ content }}

    <hr/>
    <p class="small right">
      构建时间: {{ site.time | date: "%Y年%m月%d日 %H:%M:%S" }}
    </p>
    <div style="clear: both"></div>

    </div>

    <iframe id="subform" sandbox="allow-forms allow-scripts allow-same-origin">
      <p>您的浏览器不支持&lt;iframe&gt;,请点击<a>这个链接</a>访问。</p>
    </iframe>

    {% include returnTop.html %}
    {% include background.html %}
  </body>
</html>