<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />

    <title>{{ page.title }}</title>

    {% include links.html %}

    {% include scripts.html %}
    
    {% include metadata.html %}

  </head>
  <body>
    {% include nav.html %}

    {% include slidebar.html %}

    <div id="main">
      <h1>{{ page.title }}</h1>

{{ content }}

    </div>

    <iframe id="subform" sandbox="allow-forms allow-scripts allow-same-origin">
      <p>您的浏览器不支持&lt;iframe&gt;,请点击<a>这个链接</a>访问。</p>
    </iframe>

    {% include returnTop.html %}
    <img id="background" src="bg.jpg"/>
  </body>
</html>