---
import "normalize.css";
import "@fontsource/monaspace-neon";
import "../styles/index.css";
import { Font } from "astro:assets";

type Props = {
    title: string;
};
const { title } = Astro.props;
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <Font cssVariable="--font-mlmodern" preload />
        <Font cssVariable="--font-monaspace-neon" />
        <title>{title}</title>
    </head>
    <body>
        <main>
            <nav>
                <ul>
                    <li style="flex: 1;"></li>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/blog">Blog</a>
                    </li>
                    <li>
                        <a href="/about">About</a>
                    </li>
                </ul>
            </nav>
            <slot />
        </main>
    </body>
</html>
