---
import IconGitHub from '@/components/IconGitHub.astro';
import IconRss from '@/components/IconRss.astro';
import ThemeToggle from '@/components/ThemeToggle.astro';
import { Content as Copyright } from '@/components/Copyright.mdx';
import ExternLink from '@/components/ExternLink.astro';

import '@fontsource/source-serif-4/400.css';
import '@fontsource/source-serif-4/600.css';
import '@fontsource/source-serif-4/700.css';
import '@fontsource/source-serif-4/900.css';
import '@fontsource/source-serif-4/400-italic.css';
import '@fontsource/source-serif-4/600-italic.css';
import '@fontsource/source-serif-4/700-italic.css';
import '@fontsource/source-serif-4/900-italic.css';

import '@fontsource/monaspace-neon/400.css';
import '@fontsource/monaspace-neon/400-italic.css';

export interface Props {
    pageTitle: string;
}

const pageTitle = `Wybxc's Blog - ${Astro.props.pageTitle}`;
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <link
            rel="alternate"
            type="application/rss+xml"
            title={pageTitle}
            href={new URL('rss.xml', Astro.site)}
        />
        <link rel="sitemap" href="/sitemap-index.xml" />
        <title>{pageTitle}</title>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li><a href="/"><strong>Wybxc</strong></a></li>
                </ul>
                <ul>
                    <li><a href="/posts"><strong>Posts</strong></a></li>
                    <li><a href="/tags"><strong>Tags</strong></a></li>
                    <li><a href="/about"><strong>About</strong></a></li>
                    <li><ThemeToggle /></li>
                </ul>
            </nav>
        </header>

        <main>
            <slot />
        </main>

        <footer>
            <nav>
                <ul>
                    <li><Copyright /></li>
                </ul>

                <ul>
                    <li>
                        <ExternLink
                            href="https://github.com/Wybxc"
                            aria-label="GitHub"
                        >
                            <IconGitHub style="font-size: 1.5em" />
                        </ExternLink>
                    </li>
                    <li>
                        <ExternLink
                            href={new URL('rss.xml', Astro.site)}
                            aria-label="RSS Feed"
                        >
                            <IconRss style="font-size: 1.5em" />
                        </ExternLink>
                    </li>
                </ul>
            </nav>
        </footer>
    </body>
</html>

<style>
    @media (min-width: 1024px) {
        main,
        footer {
            max-width: 800px;
        }
    }
</style>

<style is:global lang="scss">
    @use '@picocss/pico/scss/pico' with (
        $enable-semantic-container: true,
        $enable-classes: true
    );

    :root {
        --pico-font-family: 'Source Serif 4', serif;
        --pico-font-family-monospace: 'Monaspace Neon', monospace;
    }

    html[data-theme='dark'] {
        .astro-code,
        .astro-code span {
            color: var(--shiki-dark) !important;
            background-color: var(--shiki-dark-bg) !important;
        }
    }

    nav a {
        --pico-color: var(--pico--contrast);
        text-decoration: none;
    }
</style>
